
@{
    ViewBag.Title = "Lankawe Part Time Job";
}

@*<h2>Lankawe Part Time Job</h2>*@

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index", "AdminWithOutQualificationJob")" class="btn btn-primary btn-block btn-large"><span class="glyphicon glyphicon-circle-arrow-down"></span>Without Qualification Job</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index", "AdminWithOutQualificationJob")" class="btn btn-primary btn-block btn-large">With Qualification Job</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","AdminEmployer")" class="btn btn-primary btn-block btn-large">Employer</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","AdminEmployee")" class="btn btn-primary btn-block btn-large">Employee</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","AdminEnrollmentWithOutQualificationJob")" class="btn btn-primary btn-block btn-large">Approval(Without Qualification) Jos List By Employee</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","AdminEnrollmentWithQualificationJob")" class="btn btn-primary btn-block btn-large">Approval(With Qualification) Jos List By Employee</a></div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","AdminEnrollmentWithQualificationJob")" class="btn btn-primary btn-block btn-large">Approval(Without Qualification) Jos List By Employee</a></div>
    <div class="col-md-6 margin-top-20"><a href="@Url.Action("Index","Admin")" class="btn btn-primary btn-block btn-large">My Profile</a></div>
</div>