@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lankawe Part-Time</h1>
    <p class="lead">Best Place to Find a Part-Time Job in Sri Lanka</p>
    @*<p><a href="" class="btn btn-primary btn-lg">Powered by : UCSC Group Project 41</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register to Continue</h2>
        <p>
            Open an Account with us
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Access your Existing Account</p>
        <p>@Html.ActionLink("Log in","Login","Account" , null,new { @class = "btn btn-primary btn-lg" } )</p>
    </div>
</div>

<hr />
@DateTime.Now. <br />
<hr />
Your are using @Request.Browser.Browser Browser and that's OK. Email us at  "thilinachamikashtc@gmail.com" 
if you have any problems. 
@*
    @section script{
        <script>
            var testing = true;
        </script>
        }


        @{ var amounts = new List<Decimal> { 100, 25.50m, -40, 275.56m };
         }

        <ul>
            @foreach (decimal amount in amounts)
            {
                <li>@formatAmount(amount)</li>
            }

        </ul>
        @helper formatAmount(decimal amount)
        {
                var  color = "green";
                if (amount < 0)
                    {
                         color = "red";
                    }
                    <span style="color:@color">@string.Format("{0:c}",amount)</span>

        }
*@
