@model PartTimeJob.Models.EnrollmentWithOutQualificationJob

@{
    ViewBag.Title = "Details of Enrollment Job";
}

<h2>Details</h2>

<div>
    <h4>Enrollment WithOut Qualification Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithOutQualificationJob.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithOutQualificationJob.JobName)
        </dd>

        <dt>
            Enrollment Date
            @*@Html.DisplayNameFor(model => model.Date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit Enrollment Date", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to My Enrollment List", "Index")
</p>
